In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Read in the data
data = pd.read_csv('data\\FinalData.csv')

In [2]:
x = data.drop(columns=['Total', 'Final', 'Grade'])
x

      Homework  Project  Quiz   Exam
0    98.333333     95.0  97.5  100.0
1    81.166667      0.0  95.0   96.0
2    80.333333      0.0  97.5   90.0
3    70.833333     40.0  73.0   60.0
4    86.250000     90.0  86.0   90.0
..         ...      ...   ...    ...
145  80.833333     30.0  65.5   77.5
146  82.083333     85.0  72.0   41.0
147  87.500000     80.0  83.0   72.0
148  90.000000     90.0  93.0   90.5
149  87.500000     90.0  84.5   77.0

[150 rows x 4 columns]

In [3]:
y = data['Final']
y

0      98.934091
1      79.271818
2      40.508182
3      53.681818
4      88.502273
         ...
145    70.512879
146    49.224242
147    62.769697
148    92.381970
149    69.924242
Name: Final, Length: 150, dtype: float64